.navbar-item{
    font-family: Copperplate-Bold;
    font-size: 23px;
    color: #000000;
    text-align: left;
    text-shadow: 0 2px 4px rgba(11,103,244,0.50); 
}
.navbar { position: fixed !important; top: 0; left: 0; right: 0; }