.hero {
    background-image: url('/assets/img/hero.jpg') !important;
    background-size: cover;
    background-position: center center;
  }

  h1{
    font-family: Copperplate-Bold;
    font-size: 42px;
    color: #000000;
    text-align: left;
    text-shadow: 0 2px 4px rgba(11,103,244,0.50);
    margin:auto;
  }